@import "../../../styles/dimensions.scss";

.projectList {
  display: flex;
  flex-direction: column;
  row-gap: $negative-space;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.projectGroup {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
