@import "../../styles/dimensions.scss";
@import "../../styles/colors.module.scss";

.card {
  border: 1px solid $color-disabled;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.288);
  padding: $negative-space;
}
