@import "../../../styles/dimensions.scss";

.projectItem {
  display: flex;
  flex-direction: column;
  row-gap: $negative-space;
  padding: 1rem;
  &:hover {
    cursor: pointer;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.image{
  width: 5rem;
  height: 5rem;
}

.roleList {
  margin-right: 2rem;
  transform: translateX(-1rem);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  column-gap: $negative-space;
}
