@import "../../../styles/dimensions.scss";

.projectItem {
  display: flex;
  flex-direction: column;
  &:hover {
    cursor: pointer;
  }
}

.header {
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  column-gap: $negative-space;
}
