@import "../../../styles/mixins.scss";
@import "../../../styles/colors.module.scss";

.projectDetails {
  display: flex;
  flex-direction: column;
}

.iconBack {
  @include hover-icon;
}

.markdown {
  color: $color-text-dark;
}

.markdown img {
  width: 20rem;

  @include medium-screen {
    width: auto;
  }
}
