@import "../../../styles/dimensions.scss";
@import "../../../styles/mixins.scss";

.pageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.select {
  @include border-padding-right;
}

.appLogo {
  @include border-padding-left;
  margin-top: $negative-space;
  width: 3rem;
  height: auto;
  cursor: pointer;
}
